/*---------------------------------
RESETS 
----------------------------------*/
* { 
     margin: 0; 
     padding: 0; 
}

a  { 
     text-decoration: none; 
     outline: 0; 
}

a img { border: 0; }

.stretch,
.clear {
     clear: both;
     height: 1px;
     margin: 0;
     padding: 0;
     font-size: 15px;
     line-height: 1px;
}

.clearfix:after {
     clear: both;
     height: 0;
     display: block;
     visibility: hidden;
     content: ".";
}

p { line-height: 1.5; margin: 0 0 15px 0; }


/*-------------------------------------
GLOBAL
------------------------------------------*/

html, body { 
     margin: 20px 0 0 0; 
     padding:0 0 0 10px;
     background-color: #f9f9f9;
     text-align: center; 
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     color: #000000;
}

/*-------------------------------------
HEADINGS
------------------------------------------*/

h1 {
     margin: 0 0 0.5em 0;
     padding: 0;	
     line-height: 1.5em;	
     font-size: 14px;
     color: #000000;
}

h2 {
     margin: 0 0 0.5em 0;
     padding: 0;	
     line-height: 1.5em;	
     font-size: 12px;
     color: #000000;
}

/*-------------------------------------
LINKS
------------------------------------------*/

a:link { color: #06C; text-decoration: underline; }
a:visited { color: #06C; text-decoration: underline; }
a:hover { color: #06C; text-decoration: underline; }
a:active { color: #06C; text-decoration: underline; }




/*-------------------------------------
FORM CORE
------------------------------------------*/

form#contact fieldset {
     padding: 10px 20px 20px 20px;
     margin: 0 auto;
     border: 0;
     background-color: #fff;
     width: 290px;
     text-align: left;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -moz-box-shadow: 0px 0px 10px #d3d3d3; 
     -webkit-box-shadow: 0px 2px 10px #d3d3d3; 
     box-shadow: 0px 0px 10px #d3d3d3; 
}

form#contact input[type="text"], input[type="url"], 
input[type="email"], input[type="tel"], textarea {
     margin: 3px 0 0 0;
     padding: 6px; 
     width: 260px; 
     font-family: arial, sans-serif; 
     font-size: 12px; 
     border: 1px solid #ccc;
     background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));
     background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px);
}

form#contact textarea {
     width: 275px; 
     height: 150px;
}

form#contact label {
     display: block;
     font-size: 13px;
     color: #666;
     margin-top: 10px;
     font-weight: bold;
}

form#contact label.error { 
     width: 270px;
     margin: 3px 0 0 0;
     display: block;
     color: #cf0101;                              
     font-size: 11px; 
     text-align: right;
}

form#contact .placeholder {
     color: #aaa;
}

form#contact .button {
     display: inline-block;
     margin: 15px 0 0 90px;
     padding: 5px 15px 5px 15px;
     background-color: #ff9e00;
     border: none;
     color: #fff;
     -moz-border-radius: 15px;
     -webkit-border-radius: 15px;
     border-radius: 15px;
}

form#contact .button:hover {
     background-color: #fc8500;
     cursor: pointer;
}

form#contact .button:active {
     margin-top: 16px;
     background-color: #f08004;
     cursor: pointer;
}

#div1 {
     float:left;
     width:200px;
     height:200px;
     background-color: orange;
}

#div2 {
     float:left;
     width:150px;
     height:150px;
     background-color: green;
}

#div3 {
     float:left;
     width:100px;
     height:100px;
     background-color: yellow;
     color: tomato
}

#comentarios{
     width:400px;
     height:30px;
     margin:auto;
     padding:10px;
	visibility:hidden;
}